<html>
	<head>
		<title> Goodbye</title>
	</head>
	<body>
		<h1>Goodbye!</h1>
		<p>
			It was nice having you here
		</p>
		<p>
			<!--Say <a href="/say/hello">Hello </a>-->
			Time to say <%= link_to "Hello!", say_hello_path %>
		</p>
	</body>
</html>